<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <clear/>
    <!--  smtp.mxhichina.com-->
    <add key="SendAddress" value="smtpdm.aliyun.com" />
    <add key="mailaddress" value="" />
    <add key="username" value="" />
    <add key="passward" value="" />
    <!--发送方：true发送到正式邮箱 false发送到测试邮箱-->
    <add key="IsSend" value="false" />

    <!--接收的测试邮箱-->
    <add key="TestEmail" value="" />
    <!--接收的正式邮箱-->
    <add key="SendEmail" value="" />
  </appSettings>
</configuration>